.grid-container {
    display: grid;
    grid-template-columns: 10% 5% 25%;
    grid-template-rows: 85% 40% 85%;
    grid-gap: 0px;
    background-color: white;
    padding: 0px;
    margin: 0px;
  }
  .grid-item-1 {
    color: red;
    background-color: red;
    margin: 0px 5px 0px 0px;
   
  }
  .grid-item-2 {
  color: darkblue;
    background-color: darkblue;
   margin: 0px 0px 0px 0px;
    
    }
    .grid-item-3 {
    color: red;
    background-color: red;
    margin: 0px 0px 0px 05px;
    
  }
  .grid-item-4 {
  color: darkblue;
    background-color: darkblue;
   margin: 5px 0px 5px 0px;
  }
  .grid-item-5 {
  color: darkblue;
    background-color: darkblue;
   margin: 0px 0px 0px 0px;
  }